@import('nib')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,600')

_blue = #073363
_cyan = #1b9ece
_dark = #333333
_light = #FFFFFF

.open-sans
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 300

h1, h2, h3
  font-weight 300

h4, h5, h6
  font-weight 400

b, strong
  font-weight 600

.spacer
  height 40px

.bigspacer
  height 100px

a
  color lighten(_cyan, 70%)
  transition color 0.3s ease
  &:hover
    outline none
    text-decoration none
    color lighten(_cyan, 20%)

.mCSB_scrollTools
  visibility hidden !important

html,
body
  @extends .open-sans
  background _light
  font-size 20px
  line-height 28px
  -webkit-font-smoothing antialiased
  color _dark
  height 100%
  overflow hidden

  #content
    width 100%
    height 100%

  .page
    background _light
    height 100%
    width 100%
    opacity 0
    transition opacity 1s ease, top 0.8s ease-in-out
    position absolute
    top 0
    left 0
    .page-container
      display table
      height 100%
      width 100%
      &> .page-text
        display table-cell
        vertical-align middle
        width 100%

    .next
      position absolute
      width 32px
      height 32px
      bottom 30px
      left 50%
      margin-left -16px
      background center center no-repeat
      background-size cover
      &.next-white
        background-image url('../img/next-arrow-white.svg')
      &.next-cyan
        background-image url('../img/next-arrow-cyan.svg')


  #pattern
    background url('../img/background.jpg') center center no-repeat
    background-size cover
    box-shadow inset 0 -50px 50px -50px _blue
    z-index 100

    p
      font-weight 300
      font-size 18px
      color _light
      letter-spacing 1px

    form
      fieldset
        input,
        button
          display inline-block
          height 50px
          border none
          line-height 50px
          padding 0px 15px
          transition all 0.5s ease
          outline none
          &[disabled]
            opacity 0.7

        button
          color _light
          text-shadow none
          font-weight 600
          width 140px
          text-align center
          background linear-gradient(top, lighten(_cyan, 20%), _cyan)
          position relative
          span
            background no-repeat center center
            transition all 0.5s ease
            display block
          &.loading
            span
              background-image url('../img/loading.gif')
              color transparent

          
        input
          height 30px
          width 300px
          line-height 30px
          padding 10px 15px
          border-right 1px solid _cyan

  #result
    position relative

    .palette-bar
      position absolute
      z-index 0
      top 0
      left 0
      width 100%
      height 100%
      transition width 0.6s ease

    .page-text
      .page-bar
        position relative
        z-index 100

    .preview
      font-size 14px
      font-weight 400
      text-align center
      img
        width 100px
        height 100px
        vertical-align middle
        border 5px solid _light
        border-radius 5px 
        box-shadow 0 0 5px rgba(_dark, 0.2)
      input
        background _light
        border none
        box-shadow none
        box-shadow 5px 0 5px -5px rgba(_dark, 0.2)
        outline none
        display inline-block
        vertical-align middle
        border-radius right 5px
        padding 15px
        margin-left -4px
        width 430px
        text-align center
        cursor pointer

      button.reborn
        background #FFFFFF
        border-radius left 0
        border none
        box-shadow 5px 0 5px -5px rgba(_dark, 0.2)
        color _dark
        text-shadow none
        font-weight 600
        width 60px
        height 50px
        margin-left -10px
        text-align center
        position relative
        outline none
        cursor pointer
        img
          border none
          box-shadow none
          margin 0
          width 32px
          height 32px
          opacity 0.3
          transition opacity 0.3s ease
        &:hover
          img
            opacity 0.6

        &[disabled]
          opacity 1
          img
            opacity 0.3 !important
            animation loopcircle 0.5s infinite linear


    img.footer
      width 80px
      height auto
      position absolute
      bottom 0
      left 50%
      margin-left -40px
      z-index 210
      max-width none

    ul.social-share
      margin 0
      margin-right 460px
      list-style none
      li
        display inline-block
        height 32px
        width 32px
        margin 5px
        a
          display block
          img
            height 32px
            width 32px
            border-radius 16px
            opacity 1
            background transparent
            transition background 0.5s ease
            box-shadow 0 0 5px rgba(_dark, 0.1)
        &:hover
          a
            img.social-facebook
              background #3b5999
            img.social-twitter
              background #32ceff

    &.renew
      ul.social-share
        margin-right 515px

@keyframes loopcircle
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)

@media all and (max-device-width: 400px)
  body
    #pattern
      overflow hidden
      img.logo
        width 120px
      form
        fieldset
          .input-append
            display block
          input
            display block
            width 90%
            margin 0
            padding-left 5%
            padding-right 5%
            border none
            border-radius 0
            border-radius top 5px
          button
            display block
            width 100%
            margin 0
            padding-left 0
            padding-right 0
            border none
            border-top 1px solid _cyan
            border-radius 0
            border-radius bottom 5px

      .bigspacer
        height 30px

      p.to-smaller
        font-size 14px
        line-height 20px

    span.to-br
      display block
      height 10px

    #result
      .to-hide
        display none

      .preview
        padding-bottom 60px
        img
          display block
          margin auto
          margin-bottom 10px
        input
          display block
          margin 0
          width 95%
          padding-right 5%
          padding-left 5%
          border-radius 5px

@media all and (max-device-width: 400px) and (orientation:landscape)
  body
    #pattern
      .to-twocol
        width 49%
        display inline-block
        margin-left 0
        margin-right 0
        margin-top 5px
        vertical-align top
      .to-alignleft
        text-align left
        padding-top 10px
      .spacer
        height 1px
      .bigspacer
        height 1px
      span.to-br
        display none
