!!! 5
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Whale :: a random Avatar generator for everyone on the Earth!
    meta(name='description', content='')
    meta(name='viewport', content='width=640')
    link(type='text/css', rel='stylesheet', href='css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='css/jquery.mCustomScrollbar.css')
    link(type='text/css', rel='stylesheet', href='css/style.css')
    link(type='text/plain', rel='author', href='humans.txt')
  body

    #content
      block content

    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript')
        (function(a,c){a.__qbaka_eh=a.onerror;a.__qbaka_reports=[];a.onerror=function(){a.__qbaka_reports.push(arguments);if(a.__qbaka_eh)try{a.__qbaka_eh.apply(a,arguments)}catch(b){}};a.onerror.qbaka=1;a.qbaka={report:function(){},customParams:{},set:function(a,b){qbaka.customParams[a]=b},exec:function(a){try{a()}catch(b){qbaka.reportException(b)}},reportException:function(){}};var b=c.createElement("script"),e=c.getElementsByTagName("script")[0],d=function(){e.parentNode.insertBefore(b,e)};b.type="text/javascript";b.async=!0;b.src="//cdn.qbaka.net/reporting.js";"[object Opera]"==a.opera?c.addEventListener("DOMContentLoaded",d):d();qbaka.key="3d70d2d35546d6b3697686ab42158ee1"})(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};
    block scripts
    